<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for GPS Location -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusManagermentApplicationFinal"
        tools:targetApi="31">
        <activity
            android:name=".passenger.Live_Location_BusList"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".passenger.Livelocation" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".passenger.PassangerDashbord" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".passenger.PassengerBaseActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".driver.DriverDashbord" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".driver.DriverBaseActivity"
            android:exported="false" />
        <activity
            android:name=".conductor.Conductor_Checkschedule"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".conductor.ConductorDashbord" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".conductor.ConductorBaseActivity"
            android:exported="false" />
        <activity
            android:name=".conductor.conductor_view_Check_booking"
            android:exported="false" />
        <activity
            android:name=".conductor.create_emergency_alert"
            android:exported="false" />
        <activity
            android:name=".conductor.Conductor_TicketBooking"
            android:exported="false" />
        <activity
            android:name=".driver.Driver_Checkschedule"
            android:exported="false" />
        <activity
            android:name=".driver.driver_create_emergency_alert"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpPage"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".passenger.HomePage" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".passenger.BusSearchPage"
            android:exported="false" />
        <activity
            android:name=".passenger.SelectStationsPage"
            android:exported="false" />
        <activity
            android:name=".passenger.SeatSelectionPage"
            android:exported="false" />
        <activity
            android:name=".passenger.view_passenger_Booking"
            android:exported="false" />
        <activity
            android:name=".passenger.PassangerDashbord"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>